@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Mulish:wght@300..600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    font-weight: 300;
}

nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
    background-color: #000000;
    height: 19vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    height: 50vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main section {
    justify-content: space-between;
    display: flex;
    padding-top: 4vw;
    }

nav,
header,
main{
    width: 100vw;
    padding: 0 8.33vw;
}

nav div {
    width: 24%;
    display: flex;
    justify-content: space-between;
}

nav h1,
header h1 {
    line-height: 125%;
    vertical-align: top;
    font-size: 30px;
}

nav h1 {
    font-weight: 500;
}

header p,
nav a,
header a {
    font-size: 20px;
}

nav a,
header a {
    color: white;
}

header a {
    color: #000000;
    text-decoration:underline;
    transition-property: letter-spacing;
    transition-duration: 3s;
}

header a:hover { 
   background-color: #000000;
   color: white;
   letter-spacing: 10px;

}

section, video {width: 100%;}

section div img {
    width: 100%;
    height: auto;
    filter: saturate(100%);
    transition: filter 1s;
}
  
img:hover {
    filter: saturate(50%);
    scale: 1.1;
}

.mostrar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 19vh;
    left: 0vw;
    background-color: rgb(139, 139, 139);
    stroke: black;
    width: 100vw;
    padding: 2vw;
}

h2{
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
}

h2:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}

a {
    text-decoration:rgba(0, 0, 0, 0.5);
}

h3 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 50px;
    animation-name: animacion;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 4;

}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section div {
    width: 45%;
    margin-bottom: 20px;
}

nav span {
    display: none;
}

.icon-star-empty{
    color: white;
    font-size: 25px;
}

.icon-star-empty:hover {
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

@media(max-width:992px) {
    nav div {
        width: 40%;
    }
    header {
        margin-bottom: 20px;
        height: auto;
    }
}

@media (max-width: 768px) {
    nav div {
        display: none;
    }
    nav span {
        display: inline;
    }
}

@media (max-width: 1173px) {
    header {
        margin-bottom: 20px;
        height: auto;
    }
}

footer {
    background-color:#000000;
    height: 125px;
    width: 100vw;
}

h4{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    transform: translateY(50px);
}
  
@media (max-width: 992px) {
    section div {
      width: 100%;
    }
}

@keyframes animacion {
    from{color: #ffffff;}
    to{color: rgb(0, 0, 0);}
}
